 #craps-game {
    background-image: url("../images/casinoBckgndImage.jpg");
    color: white;
    background-position: center top;
 }

 .craps-game-title {
    text-align: center;
    margin-top: 100px;
 }

 .craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url(../images/casino-table.png);
    background-size: cover;
    background-position: center top;
 }

 .craps-registration-pane {
    margin-top: 40px;
    text-align: center;
 }

 .craps-registration-pane p {
    padding-left:30px;
 }

 .craps-registration-pane button {
    background-color: transparent;
    color: white;
    margin: 0 5px;
    border: solid transparent 1px ;
 }

 .craps-registration-pane button:hover {
    background-color:#006600;
    color: white;
    border-radius: 5px;
    border: solid 1px #003300;
    font-weight: bold;
 }

 .craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    color: white;
    text-align: center;
    outline: none;
    margin-left: 30px;
    width: 100px;
 }

 