 :root{
--titleSectionprimaryColor: white;
--titleSectionSecondaryColor: #d4cbc4;
--titleSectionTertiaryColor: #693f01;
 }
 
 #title {
        color: var(--titleSectionprimaryColor);
        text-align: center;
        padding: 200px;
        background-image: url('../images/image1-unsplash.jpg');
        background-position: center top;
    }
    .titleSectionHeader{
        margin-bottom: -5px;
    }
    .titleSectiontext{
        margin-bottom: 40px;
    }

    .titleSection-button{
        color: var(--titleSectionprimaryColor);
        background-color: transparent;
        border: 2px solid var(--titleSectionprimaryColor);
        border-radius: 5px;
        padding: 15px 20px;
    }

    .titleSection-button:hover {
        background-color: var(--titleSectionprimaryColor);
        color: var(--titleSectionSecondaryColor);
        cursor: pointer;
    }

    