  h1 {
        color: white;
    }

    button:hover {
        background-color: lightblue;
        cursor: pointer;
        font-size: 18px;
    }

    #title {
        text-align: center;
        padding: 200px;
    }