#AboutMe {
    text-align: center;
}

.aboutme-section-text {
    text-align: justify;
    margin-top: 40px;
}

.aboutme-icons {
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.aboutme-icons > a {
    text-decoration: none;
}

.aboutme-icon {
    margin: 10px;
    color: var(--titleSectionSecondaryColor);
}

.aboutme-icon:hover {
    color: var(--titleSectionTertiaryColor);
    cursor: pointer;
}

.aboutme-download-button {
    color: black;
    background-color: transparent;
    border: 2px solid var(--titleSectionSecondaryColor);
    border-radius: 5px;
    padding: 15px 20px;
}

.aboutme-download-button:hover {
    background-color: var(--titleSectionSecondaryColor);
    color: var(--titleSectionprimaryColor);
    cursor: pointer;
}